/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Clear Fix */
.clear {
  clear: both;
}
#header, .content, #footer {
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.content:not(#home-content) {
  background: url("images/gradient_background.jpg") repeat-y center top;
  padding-top: 44px;
  padding-bottom: 0;
  min-height: 469px;
}

/* Wrapper */
#wrapper {
  background-color: #fff;
}

/* Header */
#header {
  background: url("images/header_background.jpg");
  height: 63px;
}
#site-logo {
  padding-top: 10px;
  padding-left: 44px;
  float: left;
}
#header-nav {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 22px 44px 0 0;
}
#mobile-current-page {
  display: none;
  text-transform: uppercase;
}
#header-nav li {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
  text-transform: uppercase;
  padding: 5px;
}
#header-nav li.current-page {
  padding: 4px;
  border: 1px #fff solid;
}
#header-nav a {
  color: #fff;
  text-decoration: none;
}

/* Footer */
#footer {
  background: url("images/header_background.jpg");
  height: 63px;
  color: #fff;
}
#footer-logo {
  padding-top: 5px;
  padding-right: 44px;
  float: right;
}
#footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  padding-top: 22.5px; /* TEMP */
  padding-left: 44px;
  float: left;
}

/* Home */
body#home {
  background: url("images/main_image.jpg") no-repeat center center fixed;
  background-size: cover;
}
#home-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0;
}
#home-content div {
  font-weight: 700;
  font-size: 75px;
  margin-top: 0.5em;
}

/* What We Do */
#what-we-do {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding: 0 44px;
}
#what-we-do .section {
  margin: 0 25px;
  padding: 10px;
  background-color: #fff;
  float: left;
  width: 280px;
  height: 455px;
}
#what-we-do .section:first-child {
  margin-left: 0;
}
#what-we-do .section:last-child {
  margin-right: 0;
}
#what-we-do .section div:not(.clear) {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  margin-bottom: 5px;
  padding-top: 30px;
}
#what-we-do .section div#image {
  padding-top: 44px;
  height: 237px;
}
#what-we-do .section p {
  width: 90%;
}

/* Case Studies */
#case-studies {
  margin: 0 44px;
}
#case-studies-nav ul {
  list-style-type: none;
}
#case-studies-nav ul.mobile {
  display: none;
}
#mobile-current-case-study {
  display: none;
  text-transform: uppercase;
  padding: 2px 5px;
  margin: 0;
  background-color: #2b3990;
}
#case-studies-nav ul li {
  display: table-cell;
  padding: 4.5px;
  width: 116px;
  height: 93px;
  vertical-align: middle;
  text-align: center;
}
#case-studies-nav ul li img {
  max-width: 116px;
  max-height: 93px;
  cursor: pointer;
}
#case-studies-content {
  background-color: #fff;
  padding: 30px 10px;
  min-height: 292px;
}
#case-studies-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 36px;
  margin-bottom: 42px;
}
#case-study-video, #case-study-info, #case-study-quote {
  float: left;
}
#case-study-video {
  width: 42.5%;
  padding-right: 2.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
#case-study-video.mobile {
  display: none;
}
#case-study-video img {
  max-width: 100%;
  max-height: 75%;
}
#case-study-video a {
  color: #000;
  text-decoration: none;
}
#case-study-info {
  width: 20%;
  padding: 0 2.5%;
}
#case-study-quote {
  width: 25%;
  padding-left: 2.5%;
}
#case-studies-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #2b3990;
}
#case-study-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0.5em;
}
#case-study-quote p img {
  float: left;
  padding-right: 10px;
}
#case-study-quote p:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2b3990;
}
#case-study-quote p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}

/* Our Clients */
#our-clients {
  margin: 0 44px;
  padding: 15px;
  background-color: #fff;
}
#our-clients.mobile {
  width: 300px;
  margin: 5px auto;
  padding: 5px;
  display: none;
}
#clients {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  text-align: center;
}
#clients:last-child {
  margin-bottom: 0;
}
.three {
  width: 80%;
}
.four {
  width: 100%;
}
#image {
  display: inline-block;
  vertical-align: middle;
  padding-right: 44px;
}
#image:last-child {
  padding-right: 0;
}

/* Contact Us */
#contact-us {
  margin: 0 44px;
  padding: 44px;
  background-color: #fff;
}
#contact-us img {
  margin-left: 100px; /* TEMP */
}
#contact-info {
  float: right;
  margin-right: 100px; /* TEMP */
  margin-top: 50px; /* TEMP */
}
#contact-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #2b3990;
  margin-bottom: 1em;
}
#contact-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2b3990;
}
#contact-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 1em;
}

/* MOBILE */
@media screen and (max-width : 480px) {
  html, body, #wrapper {
    min-width: 320px;
    max-width: 480px;
  }
  img {
    max-width: 100%;
  }
  #header, .content, #footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .content:not(#home-content) {
    padding: 10px 0;
  }

  /* Header */
  #header {
    background: none;
    height: 100%;
  }
  #mobile-header {
    background: url("images/header_background.jpg") center;
    height: 63px;
  }
  #site-logo {
    float: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    padding: 15px; /* TEMP */
  }
  #header-nav {
    float: none;
    padding: 0;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    text-align: center;
    cursor: pointer;
  }
  #mobile-current-page {
    display: block;
  }
  #header-nav.inactive #mobile-current-page {
    background-color: #000;
    background-image: url("images/nav-icon-inactive.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
  }
  #header-nav.active #mobile-current-page {
    background-color: #000;
    background: #000 url("images/nav-icon-active.png");
    background-position: 99% 50%;
    background-repeat: no-repeat;
  }
  #header-nav ul {
    display: none;
  }
  #header-nav ul li {
    display: block;
    text-align: center;
    border-top: 1px #fff solid;
    padding: 0;
    margin: 0;
    background-color: #000;
  }
  #header-nav li.current-page {
    padding: 0;
    border: none;
    border-top: 1px #fff solid;
    background-color: #2b3990;
  }

  /* Footer */
  #footer {
    background: url("images/header_background.jpg") repeat-y center;
    text-align: center;
    height: 115px;
  }
  #footer-logo {
    float: none;
    padding: 0;
    padding-top: 10px;
  }
  #footer-copyright {
    float: none;
    padding: 0;
    padding-top: 1em;
  }

  /* Home */
  #home-content {
    font-size: 22px;
    line-height: 27px;
  }
  #home-content div {
    font-size: 25px;
  }

  /* What We Do */
  #what-we-do {
    font-size: 13px;
    line-height: 17px;
    padding: 0;
    margin: 0;
  }
  #what-we-do .section {
    margin: 10px auto;
    padding: 10px;
    float: none;
    width: 280px;
    height: 281px;
  }
  #what-we-do .section:first-child {
    margin-left: auto;
    margin-top: 0;
  }
  #what-we-do .section:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
  #what-we-do .section div:not(.clear) {
    font-size: 31px;
    line-height: 31px;
    margin-bottom: 7px;
    padding-top: 10px;
  }
  #what-we-do .section div#image {
    padding-top: 0;
    width: 160px;
    height: 144px;
  }
  #what-we-do .section div#image img {
    width: 160px;
    height: 144px;
  }

  /* Case Studies */
  #case-studies {
    margin: 0;
  }
  #case-studies-nav {
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  #case-studies-nav ul, #case-studies-nav ul.mobile {
    display: none;
  }
  #mobile-current-case-study {
    display: block;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
  }
  #mobile-current-case-study.inactive {
    background-color: #2b3990;
    background-image: url("images/nav-icon-inactive.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
  }
  #mobile-current-case-study.active {
    background-color: #2b3990;
    background-image: url("images/nav-icon-active.png");
    background-position: 99% 50%;
    background-repeat: no-repeat;
  }
  #case-studies-nav ul.mobile li {
    display: block;
    text-align: left;
    border-top: 1px #fff solid;
    padding: 2px 5px;
    margin: 0;
    width: auto;
    height: auto;
    text-transform: uppercase;
    background-color: #2b3990;
  }
  #case-studies-content {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    min-height: 0;
  }
  #case-studies-title {
    font-size: 20px;
    margin-bottom: 0;
  }
  #case-study-video {
    display: none;
  }
  #case-study-video.mobile {
    display: block;
  }
  #case-study-video, #case-study-info, #case-study-quote {
    float: none;
    width: 100%;
    padding: 5px 0;
  }
  #case-studies-heading {
    margin-bottom: 5px;
  }
  #case-studies-heading:before {
    content: "";
    display: block;
    margin-bottom: 10px;
  }

  /* Our Clients */
  #our-clients {
    display: none;
  }
  #our-clients.mobile {
    display: block;
  }
  #clients {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  #image {
    display: inline-block;
    vertical-align: middle;
  }
  #image img {
    width: 75px;
  }

  /* Contact Us */
  #contact-us {
    width: 300px;
    margin: 5px auto;
    padding: 5px;
  }
  #contact-info {
    float: none;
    margin: 0;
    padding: 10px;
    padding-bottom: 20px;
  }
  #contact-title {
    margin-bottom: 0.5em;
  }
  #contact-us img {
    float: right;
    padding: 5px;
    width: 94px;
    height: 111px;
  }
}
