/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Clear Fix */
.clear {
  clear: both;
}
#header, .content, #footer {
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.content {
  background: url("images/gradient_background.jpg") repeat-y center top;
  padding: 44px;
  height: 469px;
}

/* Wrapper */
#wrapper {
  background-color: #fff;
}

/* Header */
#header {
  background: url("images/header_background.jpg") repeat-y;
  height: 63px;
}
#site-logo {
  padding-top: 10px;
  padding-left: 44px;
  float: left;
}
#header-nav {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 22px 44px 0 0;
}
#header-nav li {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
  text-transform: uppercase;
  padding: 5px;
}
#header-nav li.current-page {
  padding: 4px;
  border: 1px #fff solid;
}
#header-nav a {
  color: #fff;
  text-decoration: none;
}

/* Footer */
#footer {
  background: url("images/header_background.jpg") repeat-y;
  height: 63px;
  color: #fff;
  padding-bottom: 0.5em;
}
#footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  padding-top: 22.5px; /* TEMP */
  padding-left: 44px;
  float: left;
}
#footer-logo {
  padding-top: 10px;
  padding-right: 44px;
  float: right;
}

/* Home */
#home {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  background: url("images/main_image.jpg") no-repeat center top;
  text-align: center;
  padding: 1em;
}
#home div {
  font-weight: 700;
  font-size: 75px;
  margin-top: 0.5em;
}

/* What We Do */
#what-we-do {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding: 0 44px;
}
#what-we-do .section {
  margin: 0 25px;
  padding: 10px;
  background-color: #fff;
  float: left;
  width: 280px;
  height: 455px;
}
#what-we-do .section:first-child {
  margin-left: 0;
}
#what-we-do .section:last-child {
  margin-right: 0;
}
#what-we-do .section div {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  margin-bottom: 5px;
  padding-top: 30px;
}
#what-we-do .section div#image {
  padding-top: 44px;
}
#what-we-do .section p {
  width: 90%;
}

/* Case Studies */
#case-studies {
  margin: 0 44px;
}
#case-studies-nav ul {
  list-style-type: none;
}
#case-studies-nav ul li {
  display: table-cell;
  padding: 10px;
  width: 118px;
  height: 94px;
  vertical-align: middle;
  text-align: center;
}
#case-studies-nav ul li img {
  max-width: 118px;
  max-height: 94px;
}
#case-studies-content .hidden {
  display: none;
  background-color: #fff;
  padding: 30px 10px;
  height: 292px;
}
#case-studies-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 36px;
  margin-bottom: 42px;
}
#case-study-video, #case-study-info, #case-study-quote {
  float: left;
}
#case-study-video {
  width: 40%;
  padding-right: 5%;
}
#case-study-info {
  width: 20%;
  padding: 0 2.5%;
}
#case-study-quote {
  width: 25%;
  padding-left: 2.5%;
}
#case-studies-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #2b3990;
}
#case-study-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0.5em;
}
#case-study-quote p img {
  float: left;
  padding-right: 10px;
}
#case-study-quote p:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2b3990;
}
#case-study-quote p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}

/* Our Clients */
#our-clients {
  margin: 0 44px;
  padding: 15px;
  background-color: #fff;
}
#clients {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  text-align: center;
}
#clients:last-child {
  margin-bottom: 0;
}
.three {
  width: 80%;
}
.four {
  width: 100%;
}
#image {
  display: inline-block;
  vertical-align: middle;
  padding-right: 44px;
}
#image:last-child {
  padding-right: 0;
}

/* Contact Us */
#contact-us {
  margin: 0 44px;
  padding: 44px;
  background-color: #fff;
}
#contact-us img {
  margin-left: 100px; /* TEMP */
}
#contact-info {
  float: right;
  margin-right: 100px; /* TEMP */
  margin-top: 50px; /* TEMP */
}
#contact-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #2b3990;
  margin-bottom: 1em;
}
#contact-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2b3990;
}
#contact-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 1em;
}